html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

#app {
  height: 100%;
}

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 20px;
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
}
